.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  margin: 40px 100px 63px 100px;
}

.logo {
  width: 210px;
}

@media (max-width: 767px) {
  .header {
    height: 47px;
    margin: 20px 20px 16px 20px;
  }

  .logo {
    width: 145px;
  }
}
