.nav-header {
  width: 309px;
  height: 34px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 57px;
  justify-content: center;
  align-items: center;
}

li:hover {
  text-decoration-line: underline;
}

.link-home {
  width: 136px;
  text-align: right;
  font-size: 24px;
  font-family: "Montserrat";
  color: #ff6060;
  text-decoration: none;
}

.link-about {
  width: 116px;
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat";
  color: #ff6060;
  text-decoration: none;
}

@media (max-width: 1023px) {
  .nav-header {
    width: 140px;
    height: 17px;
  }

  ul {
    gap: 10px;
    padding: 0;
  }

  .link-home {
    width: 59px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .link-about {
    width: 71px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
